<div class="footer">
    <span>@Html.ActionLink("Home", "Index", "Home")</span>
    <span>@Html.ActionLink("Recipes", "Index", "Recipes")</span>
    <span>@Html.ActionLink("Ingredients", "Index", "Ingredients")</span>
    <span>@Html.ActionLink("Account", "Index", "Account")</span>
</div>