body {
    background-image: linear-gradient(30deg, rgb(7, 127, 1), 20%, rgb(252, 247, 227));
    text-align: center;
    font-family: cambria;
    height: 100vh;
}

.footer {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    text-align: center;
    background-color: black;
    padding: 10px;
    height: 10vh;
}

span {
    background-color: white;
    padding: 1em;
    margin: 0px 10px;
    display: inline-flex;
    border-radius: 10px;
    border: 3px solid gray;
    vertical-align: middle;
    position: relative;
    bottom: 0;
}

span:hover {
    transition-duration: .2s;
    font-size: 1.2em;
}