@{
    Layout = "_Layout";
}

<h2>Recipes</h2>
<hr>
<h3>New Recipe</h3>

@model MealTime.Models.Recipe

@using (Html.BeginForm("Create", "Recipes"))
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new {required="true"})
    @Html.LabelFor(model => model.CookTime)
    @Html.TextBoxFor(model => model.CookTime, new {required="true", type="number"})
    <input type="submit" value="Add new recipe" />
}