@using MealTime.Models

@{
    Layout = "_Layout";
}

<h2>Recipes</h2>
<hr>
<h3>Recipe Navigator for @User.Identity.Name</h3>

@Html.ActionLink("New Recipe", "Create")

@if (Model.Count == 0)
{
    <p>No recipes</p>
}
@foreach (Recipe recipe in Model)
{
    <br>
    @Html.ActionLink(recipe.Name, "Details", new {id = recipe.RecipeId})
}